<h4>Post New Question</h4>
<form id="new-question-form" action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Title"><br><br>
  <textarea rows="5" cols="30" name="question[body]" placeholder="Question"></textarea><br>
  <input type="submit" value="Post It">
</form>
