<h4>Post a commEnt</h4>
<form id="new-comment-form" action="/comments" method="post">
  <input type="hidden" name="current_question_id" value="<%= @question.id %>">
  <textarea rows="2" cols="35" name="comment[body]" placeholder="Words go here..."></textarea><br>
  <input type="submit" value="POST MY COMMenT">
</form>
