<h2>Registration!</h2>

<form action="/users" method="post">
  <input type="text" name="user[username]" placeholder="Username" autofocus><br>
  <input type="email" name="user[email]" placeholder="example@email.com"><br>
  <input type="password" name="user[password]" placeholder="Password"><br>
  <input type="password" name="confirm_password" placeholder="Confirm Password"><br><br>
  <input type="submit" value="REGISTER!">
</form>
