<form class="answer_form"action="/questions/<%=@question.id%>/answers" method="POST">
  <textarea rows="5" cols="30" name="body" placeholder="Enter text here"></textarea>
  <input type="submit" value="Post answer">
</form>
