<!-- Feel free to alter the hell out of this formatting -->
<% if @question.answers %>
	<% @question.answers.each do |answer| %>
		<div class="answer">
			<p><%= answer.body %></p>
			<p>Answered by: <%= answer.responder.username %> on: <%= answer.responder.created_at %></p>
		</div>
	<% end %>
<% end %>
