<% if answer %>
  <div id="<%=answer.id%>" class="answer_vote_buttons">
    <span class="upvote"> </span>
    <p class="vote_count"><%=answer.sum_vote_values%></p>
    <span class="downvote"> </span>
  </div>
<% end %>
