<% if @question %>
  <div id="<%=@question.id%>" class="vote_buttons">
    <span class="upvote"> </span>
    <p class="vote_count"><%=@question.votes.count%></p>
    <span class="downvote"> </span>
  </div>
<% end %>
